<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#">
        <table>
            <th>
                Cats User
            </th>
            <tr>
                <th>
                    User Name
                </th>
                <td>
                    <input type="text" placeholder="User name" name="USER_NAME">
                </td>
            </tr>
            <tr>
                <th>
                    Password
                </th>
                <td>
                  <input type="password" placeholder="Password" name="PASSWORD">
                </td>
            </tr>
           
        </table>
        <button type="submit"> Submit</button>
    </form>
</body>
</html>